$a: blue; // a for azur
$b: black;
$c: aqua;
$d: dodgerblue;
$e: #d2cab5; // beige
$f: forestgreen;
$g: green;
$k: #5F021F; // bordeaux
$m: maroon;
$n: #330099;
$o: orange;
$p: hotpink;
$q: #e2c2cd; // rose clair
$r: red;
$t: transparent;
$u: #31C831;
$v: purple;
$w: white;
$x: hotpink;
$y: yellow;
$z: grey;